body {
    width: 100vh;
    background: url("https://cdn.fansshare.com/image/gamewallpapers/retro-game-wallpaper-hd-cool-hd-wallpapers-retro-1508520702.jpg")
        no-repeat center center fixed;
    background-size: cover;
}
